/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: ButtonStyles;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	max-id: 3;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	cell-content-style-tag: p;
	cell-content-style-class: TableButtonBlue;
	text-align: justify;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-ButtonStyles
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-ButtonStyles-Column-Column1
{
	
}

.TableStyle-ButtonStyles-Head-Header1
{
	
}

.TableStyle-ButtonStyles-HeadI-Column1-Header1
{
	
}

.TableStyle-ButtonStyles-HeadI-Column1-Header1 p
{
	
}

.TableStyle-ButtonStyles-HeadE-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ButtonStyles-HeadE-Column1-Header1 p
{
	
}

.TableStyle-ButtonStyles-HeadF-Column1-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ButtonStyles-HeadF-Column1-Header1 p
{
	
}

.TableStyle-ButtonStyles-HeadH-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-ButtonStyles-HeadH-Column1-Header1 p
{
	
}

.TableStyle-ButtonStyles-HeadD-Column1-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ButtonStyles-HeadD-Column1-Header1 p
{
	
}

.TableStyle-ButtonStyles-HeadC-Column1-Header1
{
	
}

.TableStyle-ButtonStyles-HeadC-Column1-Header1 p
{
	
}

.TableStyle-ButtonStyles-HeadB-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-ButtonStyles-HeadB-Column1-Header1 p
{
	
}

.TableStyle-ButtonStyles-HeadA-Column1-Header1
{
	
}

.TableStyle-ButtonStyles-HeadA-Column1-Header1 p
{
	
}

.TableStyle-ButtonStyles-HeadG-Column1-Header1
{
	
}

.TableStyle-ButtonStyles-HeadG-Column1-Header1 p
{
	
}

.TableStyle-ButtonStyles-Foot-Footer1
{
	
}

.TableStyle-ButtonStyles-FootI-Column1-Footer1
{
	
}

.TableStyle-ButtonStyles-FootI-Column1-Footer1 p
{
	
}

.TableStyle-ButtonStyles-FootE-Column1-Footer1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-ButtonStyles-FootE-Column1-Footer1 p
{
	
}

.TableStyle-ButtonStyles-FootF-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-ButtonStyles-FootF-Column1-Footer1 p
{
	
}

.TableStyle-ButtonStyles-FootH-Column1-Footer1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-ButtonStyles-FootH-Column1-Footer1 p
{
	
}

.TableStyle-ButtonStyles-FootD-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-ButtonStyles-FootD-Column1-Footer1 p
{
	
}

.TableStyle-ButtonStyles-FootC-Column1-Footer1
{
	
}

.TableStyle-ButtonStyles-FootC-Column1-Footer1 p
{
	
}

.TableStyle-ButtonStyles-FootB-Column1-Footer1
{
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-ButtonStyles-FootB-Column1-Footer1 p
{
	
}

.TableStyle-ButtonStyles-FootA-Column1-Footer1
{
	
}

.TableStyle-ButtonStyles-FootA-Column1-Footer1 p
{
	
}

.TableStyle-ButtonStyles-FootG-Column1-Footer1
{
	
}

.TableStyle-ButtonStyles-FootG-Column1-Footer1 p
{
	
}

.TableStyle-ButtonStyles-Body-Body1
{
	
}

.TableStyle-ButtonStyles-BodyI-Column1-Body1
{
	text-align: justify;
}

.TableStyle-ButtonStyles-BodyI-Column1-Body1 p
{
	
}

.TableStyle-ButtonStyles-BodyE-Column1-Body1
{
	text-align: justify;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-ButtonStyles-BodyE-Column1-Body1 p
{
	
}

.TableStyle-ButtonStyles-BodyF-Column1-Body1
{
	text-align: justify;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ButtonStyles-BodyF-Column1-Body1 p
{
	
}

.TableStyle-ButtonStyles-BodyH-Column1-Body1
{
	text-align: justify;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-ButtonStyles-BodyH-Column1-Body1 p
{
	
}

.TableStyle-ButtonStyles-BodyD-Column1-Body1
{
	text-align: justify;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ButtonStyles-BodyD-Column1-Body1 p
{
	
}

.TableStyle-ButtonStyles-BodyC-Column1-Body1
{
	text-align: justify;
}

.TableStyle-ButtonStyles-BodyC-Column1-Body1 p
{
	
}

.TableStyle-ButtonStyles-BodyB-Column1-Body1
{
	text-align: justify;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-ButtonStyles-BodyB-Column1-Body1 p
{
	
}

.TableStyle-ButtonStyles-BodyA-Column1-Body1
{
	text-align: justify;
}

.TableStyle-ButtonStyles-BodyA-Column1-Body1 p
{
	
}

.TableStyle-ButtonStyles-BodyG-Column1-Body1
{
	text-align: justify;
}

.TableStyle-ButtonStyles-BodyG-Column1-Body1 p
{
	
}


